extends ../base

block content
  main
    +Breadcrumb('Posts')
    +Information(user)
    +Anchor(user)
    .p-category
      .l-container
        div(class="p-category__inner")
          #dich-vu-ke-toan(class="p-category__box")
            div(class="p-category__top")
              h2(class="p-category__heading")
                i(class="p-category__icon")
                  svg.w-6.h-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor")
                    path(stroke-linecap="round", stroke-linejoin="round", d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z")
                span(class="p-category__sub") Tạo bài viết
            .p-form
              form(class="p-form__form")
                div(class="p-form__form-column")
                  div(class="p-form__form-row")
                    div(class="p-form__form-group")
                      label(class="p-form__form-label") Tiêu đề:
                      input(type="text", class="p-form__form-input", placeholder="nhập tiêu đề")
                      div(class="p-form__form-error") Vui lòng nhập tiêu đề.
                  div(class="p-form__form-row")
                    div(class="p-form__form-group")
                      label(class="p-form__form-label") Tag:
                      select(class="p-form__form-select")
                        option(selected) Chọn tag
                        option(value="1") One
                        option(value="2") Two
                        option(value="3") Three
                      div(class="p-form__form-error") Vui lòng chọn tag.
                div(class="p-form__form-column")
                  div(class="p-form__form-row")
                    div(class="p-form__form-group")
                      label(class="p-form__form-label") Mô tả:
                      textarea(class="p-form__form-textarea", rows="4")
                      div(class="p-form__form-error") Vui lòng nhập mô tả.
                  div(class="p-form__form-row")
                    div(class="p-form__form-group")
                      label(class="p-form__form-label") Mô tả(SEO):
                      textarea(class="p-form__form-textarea", rows="4")
                      div(class="p-form__form-error") Vui lòng nhập mô tả.
                div(class="p-form__form-row")
                  div(class="p-form__form-group")
                    label(class="p-form__form-label") Thumbnail:
                    input.js-upload-file(type="file")
                    div(class="p-form__form-error") Vui lòng chọn hình ảnh.
                div(class="p-form__form-row")
                  div(class="p-form__form-group")
                    figure(class="p-form__form-figure")
                      img(src="http://placehold.it/180", class="p-form__form-image js-preview-img", alt="")
                div(class="p-form__form-row")
                  div(class="p-form__form-group")
                    label(class="p-form__form-label") Nội dung:
                    #editor(class="p-form__form-editor")
                    div(class="p-form__form-error") Vui lòng nhập nội dung.
                div(class="p-form__form-column")
                  div(class="p-form__form-row p-form__form-row--btn")
                    button(type="submit", class="p-form__form-btn") Thêm
                    a(href="", class="p-form__form-btn p-form__form-btn--delete") Hủy
    
                        
