extends ../base
block content
  main
    +Breadcrumb('Posts')
    +Information(user)
    +Anchor(user)
    .p-category
      .l-container
        div(class="p-category__inner")
          div(class="p-category__box")
            +CategoryTop('/admin/post/create', 'Danh sách Bài viết')
            .c-datatable
              table#dataTable
                thead
                  tr
                    th(class="c-datatable__title", style="width: 30px;") STT
                    th(class="c-datatable__title", style="width: 15%;") Hình ảnh
                    th(class="c-datatable__title") Tiêu đề
                    th(class="c-datatable__title") Tag
                    th(class="c-datatable__title", style="width: 15%;") Hành động
                tbody
                  tr
                    td
                      p(class="c-datatable__text") 1
                    td
                      div(class="c-datatable__thumb")
                        img(src="https://placehold.jp/100x50.png", alt="alt")
                    td
                      p(class="c-datatable__text") Row 1 Data 1
                    td
                      p(class="c-datatable__text") Row 1 Data 1
                    td
                      +ButtonAction('/admin/post/edit')
                        
