.c-contact
  .l-container
    .c-contact__wrapper
      h3.c-contact__title Thông tin tư vấn
      p.c-contact__desc Quý công ty có nhu cầu làm số sách kế toán hoặc thắc mắc về dịch vụ, vui lòng liên hệ.
      .c-contact__hotline
        h4.c-contact__tel
          span Liên hệ:
          a(href='tel:0367.873.242') 0367-873-242
        span.c-contact__time Thời gian hoạt động: 8:30 - 20:30
