.p-zalo
  .p-zalo__wrapper
    a.p-zalo__link(href='https://zalo.me/0962953240', target="_blank")
      .p-zalo__cirlce
      .p-zalo__cirlce-fill
      figure.p-zalo__figure
        img.p-zalo__img(src='/images/ico_zalo.png' alt='icon zalo')
