extends base

block content
  main
    .c-breadcrumb
      .l-container
        .c-breadcrumb__content
          ul.c-breadcrumb__list
            li.c-breadcrumb__item
              a.c-breadcrumb__link.c-breadcrumb__link--home(href='/')
                i.c-breadcrumb__icon
                  svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', d='M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25')
                span Trang chủ
            li.c-breadcrumb__item
              span.c-breadcrumb__link Blog
            li.c-breadcrumb__item
              span.c-breadcrumb__link Quy trình báo cáo thuế 2023
    .p-information
      .l-container
        .p-information__inner
          p.p-information__text Blog chia sẽ những kiến thức và giải pháp kế toán cho các doanh nghiệp 🥳
    .p-article
      .l-container
        .p-article__wrapper
          .p-article__left
            .p-article__heading
              h1.p-article__title C&aacute;ch &dstrok;&#x1EB7;t t&ecirc;n c&ocirc;ng ty, doanh nghi&#x1EC7;p hay v&agrave; &dstrok;&uacute;ng - C&oacute; v&iacute; d&#x1EE5;
              figure.p-article__figure
                img.p-article__img(src='https://placehold.jp/968x350.png', alt='alt')
              p.p-article__desc
                | &Dstrok;&#x1EB7;t t&ecirc;n l&agrave; m&#x1ED9;t ph&#x1EA7;n b&#x1EAF;t bu&#x1ED9;c khi th&agrave;nh l&#x1EAD;p doanh nghi&#x1EC7;p. L&agrave;m sao ch&#x1ECD;n &dstrok;&#x1B0;&#x1EE3;c t&ecirc;n c&ocirc;ng ty, doanh nghi&#x1EC7;p hay, kh&ocirc;ng b&#x1ECB; tr&ugrave;ng m&agrave; v&#x1EAB;n &dstrok;&uacute;ng quy &dstrok;&#x1ECB;nh c&#x1EE7;a ph&aacute;p lu&#x1EAD;t? M&#x1EDD;i b&#x1EA1;n tham kh&#x1EA3;o c&aacute;c g&#x1EE3;i &yacute; t&ecirc;n c&ocirc;ng ty trong b&agrave;i vi&#x1EBF;t d&#x1B0;&#x1EDB;i &dstrok;&acirc;y c&#x1EE7;a Anpha.
            .p-article__content
              h2 T&#x1EA7;m quan tr&#x1ECD;ng c&#x1EE7;a c&ocirc;ng ty
              p
                | T&ecirc;n c&ocirc;ng ty kh&ocirc;ng &dstrok;&#x1A1;n gi&#x1EA3;n ch&#x1EC9; l&agrave; c&aacute;i t&ecirc;n xu&#x1EA5;t hi&#x1EC7;n tr&ecirc;n c&aacute;c v&abreve;n b&#x1EA3;n ph&aacute;p l&yacute; m&agrave; c&ograve;n t&#x1EA1;o ra s&#x1EF1; kh&aacute;c bi&#x1EC7;t, g&acirc;y &#x1EA5;n t&#x1B0;&#x1EE3;ng cho kh&aacute;ch h&agrave;ng, th&#x1EC3; hi&#x1EC7;n &dstrok;&#x1B0;&#x1EE3;c lo&#x1EA1;i h&igrave;nh kinh doanh ho&#x1EB7;c t&#x1EA7;m nh&igrave;n/&dstrok;i&#x1EC1;u doanh nghi&#x1EC7;p mu&#x1ED1;n truy&#x1EC1;n th&ocirc;ng, t&#x1EA1;o n&ecirc;n th&agrave;nh c&ocirc;ng cho c&ocirc;ng ty. C&aacute;i t&ecirc;n c&ograve;n g&oacute;p ph&#x1EA7;n &dstrok;&#x1ECB;nh h&igrave;nh th&#x1B0;&#x1A1;ng hi&#x1EC7;u v&agrave; qu&#x1EA3;ng c&aacute;o, c&utilde;ng l&agrave; y&#x1EBF;u t&#x1ED1; quan tr&#x1ECD;ng &dstrok;&#x1EC3; kh&aacute;ch h&agrave;ng nh&#x1EAD;n di&#x1EC7;n s&#x1EA3;n ph&#x1EA9;m d&#x1ECB;ch v&#x1EE5; c&ocirc;ng ty so v&#x1EDB;i &dstrok;&#x1ED1;i th&#x1EE7;. V&igrave; v&#x1EAD;y, h&atilde;y c&#x1EA9;n tr&#x1ECD;ng, k&#x1EF9; t&iacute;nh khi l&#x1EF1;a ch&#x1ECD;n t&ecirc;n cho c&ocirc;ng ty, doanh nghi&#x1EC7;p c&#x1EE7;a m&igrave;nh.
              ul
                li
                  | Tr&aacute;nh c&aacute;c t&#x1EEB; c&oacute; n&#x1ED9;i dung kh&ocirc;ng l&agrave;nh m&#x1EA1;nh, b&#x1EAD;y b&#x1EA1; hay ti&#x1EBF;ng l&oacute;ng mang &yacute; ngh&itilde;a kh&ocirc;ng &dstrok;&#x1EB9;p;
                li
                  | Tr&aacute;nh c&aacute;c t&#x1EEB; c&oacute; n&#x1ED9;i dung kh&ocirc;ng l&agrave;nh m&#x1EA1;nh, b&#x1EAD;y b&#x1EA1; hay ti&#x1EBF;ng l&oacute;ng mang &yacute; ngh&itilde;a kh&ocirc;ng &dstrok;&#x1EB9;p;
                li
                  | Tr&aacute;nh c&aacute;c t&#x1EEB; c&oacute; n&#x1ED9;i dung kh&ocirc;ng l&agrave;nh m&#x1EA1;nh, b&#x1EAD;y b&#x1EA1; hay ti&#x1EBF;ng l&oacute;ng mang &yacute; ngh&itilde;a kh&ocirc;ng &dstrok;&#x1EB9;p;
                li
                  | Tr&aacute;nh c&aacute;c t&#x1EEB; c&oacute; n&#x1ED9;i dung kh&ocirc;ng l&agrave;nh m&#x1EA1;nh, b&#x1EAD;y b&#x1EA1; hay ti&#x1EBF;ng l&oacute;ng mang &yacute; ngh&itilde;a kh&ocirc;ng &dstrok;&#x1EB9;p;
                li
                  | Tr&aacute;nh c&aacute;c t&#x1EEB; c&oacute; n&#x1ED9;i dung kh&ocirc;ng l&agrave;nh m&#x1EA1;nh, b&#x1EAD;y b&#x1EA1; hay ti&#x1EBF;ng l&oacute;ng mang &yacute; ngh&itilde;a kh&ocirc;ng &dstrok;&#x1EB9;p;
                li
                  | Tr&aacute;nh c&aacute;c t&#x1EEB; c&oacute; n&#x1ED9;i dung kh&ocirc;ng l&agrave;nh m&#x1EA1;nh, b&#x1EAD;y b&#x1EA1; hay ti&#x1EBF;ng l&oacute;ng mang &yacute; ngh&itilde;a kh&ocirc;ng &dstrok;&#x1EB9;p;
              p
                img(src='https://placehold.jp/904x672.png', alt='alt')
              h3 T&#x1EA7;m quan tr&#x1ECD;ng c&#x1EE7;a c&ocirc;ng ty
              p
                | T&ecirc;n c&ocirc;ng ty 
                a(href='#') Lu&#x1EAD;t Doanh nghi&#x1EC7;p 2020
                |  kh&ocirc;ng &dstrok;&#x1A1;n gi&#x1EA3;n ch&#x1EC9; l&agrave; c&aacute;i t&ecirc;n xu&#x1EA5;t hi&#x1EC7;n tr&ecirc;n c&aacute;c v&abreve;n b&#x1EA3;n ph&aacute;p l&yacute; m&agrave; c&ograve;n t&#x1EA1;o ra s&#x1EF1; kh&aacute;c bi&#x1EC7;t, g&acirc;y &#x1EA5;n t&#x1B0;&#x1EE3;ng cho kh&aacute;ch h&agrave;ng, th&#x1EC3; hi&#x1EC7;n &dstrok;&#x1B0;&#x1EE3;c lo&#x1EA1;i h&igrave;nh kinh doanh ho&#x1EB7;c t&#x1EA7;m nh&igrave;n/&dstrok;i&#x1EC1;u doanh nghi&#x1EC7;p mu&#x1ED1;n truy&#x1EC1;n th&ocirc;ng, t&#x1EA1;o n&ecirc;n th&agrave;nh c&ocirc;ng cho c&ocirc;ng ty. C&aacute;i t&ecirc;n c&ograve;n g&oacute;p ph&#x1EA7;n &dstrok;&#x1ECB;nh h&igrave;nh th&#x1B0;&#x1A1;ng hi&#x1EC7;u v&agrave; qu&#x1EA3;ng c&aacute;o, c&utilde;ng l&agrave; y&#x1EBF;u t&#x1ED1; quan tr&#x1ECD;ng &dstrok;&#x1EC3; kh&aacute;ch h&agrave;ng nh&#x1EAD;n di&#x1EC7;n s&#x1EA3;n ph&#x1EA9;m d&#x1ECB;ch v&#x1EE5; c&ocirc;ng ty so v&#x1EDB;i &dstrok;&#x1ED1;i th&#x1EE7;. V&igrave; v&#x1EAD;y, h&atilde;y c&#x1EA9;n tr&#x1ECD;ng, k&#x1EF9; t&iacute;nh khi l&#x1EF1;a ch&#x1ECD;n t&ecirc;n cho c&ocirc;ng ty, doanh nghi&#x1EC7;p c&#x1EE7;a m&igrave;nh.
            .p-article__related
              h2.p-article__related-heading
                i.p-article__related-icon
                  svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', d='M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25')
                span.p-article__related-sub B&agrave;i vi&#x1EBF;t li&ecirc;n quan
              ul.p-article__related-list
                li.p-article__related-item
                  a.p-article__related-link(href='#') Tr&aacute;nh c&aacute;c t&#x1EEB; c&oacute; n&#x1ED9;i dung kh&ocirc;ng l&agrave;nh m&#x1EA1;nh
                li.p-article__related-item
                  a.p-article__related-link(href='#') Tr&aacute;nh c&aacute;c t&#x1EEB; c&oacute; n&#x1ED9;i dung kh&ocirc;ng l&agrave;nh m&#x1EA1;nh
                li.p-article__related-item
                  a.p-article__related-link(href='#') Tr&aacute;nh c&aacute;c t&#x1EEB; c&oacute; n&#x1ED9;i dung kh&ocirc;ng l&agrave;nh m&#x1EA1;nh
                li.p-article__related-item
                  a.p-article__related-link(href='#') Tr&aacute;nh c&aacute;c t&#x1EEB; c&oacute; n&#x1ED9;i dung kh&ocirc;ng l&agrave;nh m&#x1EA1;nh
                li.p-article__related-item
                  a.p-article__related-link(href='#') Tr&aacute;nh c&aacute;c t&#x1EEB; c&oacute; n&#x1ED9;i dung kh&ocirc;ng l&agrave;nh m&#x1EA1;nh
          .p-article__right(data-media='pc')
            .p-article__sibar
              ul.c-collapse__answer-list.c-collapse__answer-list--quote
                li.c-collapse__answer-item.c-collapse__answer-item--number
                  strong.c-collapse__answer-number D&#x1ECB;ch v&#x1EE5; k&#x1EBF; to&aacute;n tr&#x1ECD;n g&oacute;i
                li.c-collapse__answer-item
                  a.p-article__sibar-link(href='/dich-vu-ke-toan/#dich-vu-bao-cao-thue')
                    p.c-collapse__answer-text D&#x1ECB;ch v&#x1EE5; b&aacute;o c&aacute;o thu&#x1EBF;
                li.c-collapse__answer-item
                  a.p-article__sibar-link(href='/dich-vu-ke-toan/#dich-vu-quyet-toan-thue')
                    p.c-collapse__answer-text  D&#x1ECB;ch v&#x1EE5; quy&#x1EBF;t to&aacute;n thu&#x1EBF;
                li.c-collapse__answer-item
                  a.p-article__sibar-link(href='/dich-vu-ke-toan/#dich-vu-bao-cao-tai-chinh')
                    p.c-collapse__answer-text
                      | D&#x1ECB;ch v&#x1EE5; b&aacute;o c&aacute;o t&agrave;i ch&iacute;nh
                li.c-collapse__answer-item
                  a.p-article__sibar-link(href='/dich-vu-ke-toan/#dich-vu-thanh-lap-cong-ty')
                    p.c-collapse__answer-text
                      | D&#x1ECB;ch v&#x1EE5; th&agrave;nh l&#x1EAD;p c&ocirc;ng ty
                li.c-collapse__answer-item
                  a.p-article__sibar-link(href='/dich-vu-ke-toan/#dich-vu-lam-so-sach-ke-toan')
                    p.c-collapse__answer-text
                      | D&#x1ECB;ch v&#x1EE5; l&agrave;m s&#x1ED1; s&aacute;ch k&#x1EBF; to&aacute;n
                li.c-collapse__answer-item
                  a.p-article__sibar-link(href='/dich-vu-ke-toan/#dich-vu-bao-hiem-xa-hoi')
                    p.c-collapse__answer-text
                      | D&#x1ECB;ch v&#x1EE5; &dstrok;&abreve;ng k&yacute; BHXH
                li.c-collapse__answer-item
                  a.p-article__sibar-link(href='/dich-vu-ke-toan/#dich-vu-chu-ky-so')
                    p.c-collapse__answer-text
                      | D&#x1ECB;ch v&#x1EE5; &dstrok;&abreve;ng k&yacute;, gia h&#x1EA1;n ch&#x1EEF; k&yacute; s&#x1ED1;