extends base-blog

block content
  main
    +BreadcrumbClient('Blog')
    +Introduction()
    .p-anchor
      .l-container
        ul.p-anchor__list
          li.p-anchor__item
            a.p-anchor__link(href='/tag/excel/')
              i.p-anchor__icon
                svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                  path(stroke-linecap='round', stroke-linejoin='round', d='M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5')
              span.p-anchor__text Excel
    .p-category.p-category--blog
      .l-container
        .p-category__inner
          // ./ START: CATEGORY BOX
          .p-category__box
            ul.p-category__list
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
          // ./ END: CATEGORY BOX
    .c-pagination
      button.c-pagination__arrow.c-pagination__arrow--prev(disabled='')
        | &larr; 
        span.c-pagination__nav-text PREV
      .c-pagination__pages
        .c-pagination__page-number.is-active 1
        .c-pagination__page-number 2
        .c-pagination__page-number 3
        .c-pagination__page-number 4
        .c-pagination__page-number 5
      button.c-pagination__arrow.c-pagination__arrow--right
        span.c-pagination__nav-text NEXT
        |  &rarr;
