extends base

block content
  main
    .c-breadcrumb
      .l-container
        .c-breadcrumb__content
          ul.c-breadcrumb__list
            li.c-breadcrumb__item
              a.c-breadcrumb__link.c-breadcrumb__link--home(href='/')
                i.c-breadcrumb__icon
                  svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', d='M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25')
                span Trang chủ
            li.c-breadcrumb__item
              span.c-breadcrumb__link Blog
    .p-information
      .l-container
        .p-information__inner
          p.p-information__text Blog chia sẽ những kiến thức và giải pháp kế toán cho các doanh nghiệp 🥳
    .p-anchor
      .l-container
        ul.p-anchor__list
          li.p-anchor__item
            a.p-anchor__link(href='/tag/excel/')
              i.p-anchor__icon
                svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                  path(stroke-linecap='round', stroke-linejoin='round', d='M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5')
              span.p-anchor__text Excel
    .p-category.p-category--blog
      .l-container
        .p-category__inner
          // ./ START: CATEGORY BOX
          .p-category__box
            ul.p-category__list
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
              li.p-category__item
                a.p-category__link(href='/blog/detail.html')
                  span.p-category__date Sep 03,2023
                  h3.p-category__title Quy tr&igrave;nh b&aacute;o c&aacute;o thu&#x1EBF; 2023
                  p.p-category__desc
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta debitis aspernatur quod cumque, asperiores ratione. Ipsam at aut aperiam facilis, pariatur earum itaque officia quia, ex ea aspernatur est.
          // ./ END: CATEGORY BOX
    .c-pagination
      button.c-pagination__arrow.c-pagination__arrow--prev(disabled='')
        | &larr; 
        span.c-pagination__nav-text PREV
      .c-pagination__pages
        .c-pagination__page-number.is-active 1
        .c-pagination__page-number 2
        .c-pagination__page-number 3
        .c-pagination__page-number 4
        .c-pagination__page-number 5
      button.c-pagination__arrow.c-pagination__arrow--right
        span.c-pagination__nav-text NEXT
        |  &rarr;
