extends base

block content
  main
    +BreadcrumbClient('Error')
    +Introduction()
    .p-error
      .l-container
        div(class="p-error__wrapper")
          h1(class="p-error__heading") Nội dung không tìm thấy!
          div(class="p-error__content")
            h2(class="p-error__title") Trang bạn đang tìm không thể truy cập. Những lý do có thể bao gồm:
            ul(class="p-error__list")
              li(class="p-error__item")
                p(class="p-error__text") Nội dung đã bị xóa
              li(class="p-error__item")
                p(class="p-error__text") Bạn không có quyền truy cập
            a(href="/", class="p-error__link") Trang Chủ