extends ../base

block content
  main
    +Breadcrumb('Tags')
    +Information(user)
    +Anchor(user)
    .p-category
      .l-container
        div(class="p-category__inner")
          div(class="p-category__box")
            +CategoryTop('/admin/tag/create', 'Danh sách Tag')
            .c-datatable
              table#dataTable
                thead
                  tr
                    th(class="c-datatable__title", style="width: 30px;") STT
                    th(class="c-datatable__title") Tag
                    th(class="c-datatable__title", style="width: 15%;") Hành động
                tbody
                  each tag, index in tags
                    tr
                      td
                        p(class="c-datatable__text")= index + 1
                      td
                        p(class="c-datatable__text")= tag.name
                      td
                        +ButtonAction(`/admin/tag/edit/${tag._id}`, tag._id)